@import "tailwindcss";

:root {
  --background: #FBF9F3; /* Fond crème chaleureux */
  --foreground: #171717;
  --accent-orange: #FF4D00; /* Orange vibrant pour les détails */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-orange-accent: var(--accent-orange);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Style personnalisé pour les inputs du formulaire (soulignés uniquement) */
.input-underline {
  @apply w-full bg-transparent border-b border-gray-300 py-4 text-lg focus:outline-none focus:border-black transition-colors placeholder:text-gray-400;
}
